@import "../../../../assets/variables.scss";

.home {
  &__partner {
    color: $text-color;

    &-logo {
      display: block;
      min-height: 90px;
      max-height: 90px;
      background: white;
      max-width: 100%;
    }

    &:hover {
      color: $accent-color-1;
    }
  }
}
