@import "../../../../assets/variables.scss";

.home {
  &__partner {
    color: $text-color;

    &-logo {
      display: block;
      height: 100px;
      min-width: 160px;
      max-height: 160px;
      background: white;
      max-width: 160px;
      object-fit: contain;

      &--long {
        max-width: 100%;
      }
    }

    &:hover {
      color: $accent-color-1;
    }
  }
}

@media (min-width: 768px) {
  .home__partner-logo {
    max-width: 200px;

    &--long {
      max-width: 100%;
    }
  }
}
