@import '../../assets/variables.scss';

.exhibitions {
	&__hero {
		background-color: $accent-color-2;

		&-img {
			max-height: 230px;
		}
	}
	&__map {
		position: relative;
		width: 100%;
		margin-left: -10px;
		text-align: center;

		.overflow {
			width: 100%;
			overflow-x: auto;
		}

		&-title {
			margin-bottom: 50px;
		}

		&-photo {
			position: relative;
			width: 200%;
			height: 100%;
		}

		.desktop-dots {
			display: none;
		}

		&-dot {
			position: absolute;
			width: 35px;
			height: 35px;
			background-color: $accent-color-2;
			border-radius: 50%;
			box-shadow: 1px 1px 2px black;
			transition: transform 0.3s, background-color 0.3s;
			cursor: pointer;
			z-index: 10;

			&:hover {
				transform: scale(1.3);
				background-color: $accent-color-1;
			}

			&-index {
				color: white;
				font-size: 15px;
				line-height: 35px;
				text-align: center;
			}

			&.active {
				display: flex;
				justify-content: center;
				align-items: flex-start;
				transform: scale(1.3);
				background-color: $accent-color-1;
			}
		}
	}

	@media (min-width: 768px) {
		.exhibitions {
			&__map {
				.overflow {
					width: 100%;
					overflow-x: auto;
				}
				.desktop-dots {
					display: block;
				}
				.mobile-dots {
					display: none;
				}
				&-photo {
					width: 100%;
				}
			}
		}
	}
}
