@import "../../assets/variables.scss";

.home {
  &__wave {
    margin-top: -1px;
    margin-bottom: -1px;
  }

  &__images {
    max-height: 150px;

    &--small {
      max-height: 230px;
    }
  }

  &__location {
    background-color: $primary-color;

    &-desc {
      line-height: $lh-desc;
    }
  }
}

// images only in desktop view

.woman-sitting {
  position: absolute;
  top: -145px;
  right: -55px;
}

.man-with-map {
  left: -180px;
}

@media only screen and (min-width: 992px) {
  .home__infographic-info {
    width: 65%;
    margin: auto;
  }
}

@media only screen and (min-width: 1400px) {
  .home__images {
    max-height: 40vh;
  }
}
