@import "../../assets/variables.scss";

.navigation {
  background-color: $accent-color-2;
  height: 6rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  border-radius: 2rem 2rem 0 0;
  border-top: 3px solid $accent-color-1;

  .navigation__btn {
    border: 0;
    background: none;
  }
}

@media screen and (min-width: 992px) {
  .navigation {
    top: 0%;
    transform: translate(-50%);
    left: 50%;
    width: 60%;
    height: min-content;
    border-radius: 0 0 2rem 2rem;
    transition: all 0.15s ease-in-out;
    background-color: $accent-color-1;
    border: none;

    a:hover {
      color: $accent-color-2;
    }
  }
}
