@import "../../../../assets/variables.scss";

.home {
  &__introduction {
    background: url("../../../../assets/images/backgrounds/blurry_gradient.svg");
    background-repeat: no-repeat;
    background-size: cover;

    p {
      text-shadow: $text-shadow-sm;
    }
  }

  &__quote {
    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.2);
      }
    }

    @keyframes pulse--rotated {
      0% {
        transform: scale(1) rotate(180deg);
      }
      100% {
        transform: scale(1.2) rotate(180deg);
      }
    }
    animation: pulse 2s alternate infinite;
    transition: all 0.3s ease-in-out;
    color: $accent-color-1;
    &--rotated {
      animation: pulse--rotated 2s alternate infinite;
    }
  }
}
