@import "../../assets/variables.scss";

.speakers {
  &__hero {
    background-color: $accent-color-2;
    padding-top: 2rem;

    &-img {
      max-height: 230px;
    }
  }

  &__card {
    background-color: $light-shade;
    &-photo {
      max-height: 12rem;
    }
  }
}

@media (min-width: 992px) {
  .speakers__hero {
    padding-top: 8rem;
  }
}
