//colors definitions
$primary-color: #1255c0;
$dark-shade: #0d3e95;
$light-shade: #4b7fd9;
$accent-color-1: #ff9100; //?
$accent-color-2: #6c63ff; //?
$neutral-color: #f5f5f5;
$text-color: #2f2e41;
$disabled-color: #bdbdbd;

// text-shadow
$text-shadow-sm: 3px 4px 7px rgba(66, 68, 90, 1);
$text-shadow-hero: 2px 2px 3px rgba(66, 68, 90, 1);

// box-shadow
$box-shadow-1: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
  rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
  rgba(0, 0, 0, 0.07) 0px 16px 16px;

// line-height
$lh-desc: 2.2rem;
