@import "./assets/variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;600;700&family=Poppins:wght@400;500;700&display=swap");

// RESET
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// GENERAL

::-webkit-scrollbar {
  width: 10px;
  background: $disabled-color;
}

::-webkit-scrollbar-thumb {
  background: $accent-color-1;
  border-radius: 20px;
}

#root {
  font-family: "Poppins", sans-serif;
  color: $text-color;
  background: $neutral-color;
  padding-bottom: 3rem;
  font-size: 1.2rem;
  min-height: 100vh;
  letter-spacing: 0.5px;
  overflow-x: hidden;

  .app:not(:has(.home)) {
    margin-top: $navigation-height;
  }
}

a {
  color: white;

  * {
    transition: $transition-fast;
  }
}

a,
.bi {
  text-decoration: none;
  transition: $transition-fast;

  &:hover {
    color: $accent-color-1;
  }
}

button {
  border: none;
  background: none;
  transition: all 0.15s $transition-fast;
}

svg {
  margin-top: -2px;
  margin-bottom: -2px;
}

.svg-wave {
  width: 100%;
  height: 110px;
}

// UNIVERSAL

.gradient-underscore {
  position: relative;
  width: fit-content;

  &::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 100%;
    height: 0.3rem;
    background-image: linear-gradient(
      to left,
      rgba(255, 0, 0, 0),
      $accent-color-2
    );
    border-radius: 0.3rem;
  }
}

// BOOTSTRAP OVERWRITING

.container {
  max-width: 900px !important;
}

.btn-outline-light:hover {
  color: $text-color;
}

// ANIMATIONS (for intersection observer)

.hidden-x-left {
  opacity: 0;
  transform: translateX(-30%);
}

.hidden-x-right {
  opacity: 0;
  transform: translateX(30%);
}

.hidden-y-top {
  opacity: 0;
  transform: translateY(-30%);
}

.hidden-y-bottom {
  opacity: 0;
  transform: translateY(30%);
}

.hidden-opacity {
  opacity: 0;
}

.fade-in {
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
  }
}

.animation-delays {
  @for $i from 2 through 9 {
    :nth-child(#{$i}) {
      animation-delay: #{$i * 200ms};
    }
  }
}

@media screen and (min-width: 992px) {
  #root {
    padding-bottom: 0rem;

    .app:not(:has(.home)) {
      margin-top: $navigation-height * 2;
    }
  }
}
