@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap");

// RESET

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// GENERAL

html {
  font-family: "IBM Plex Sans", sans-serif;
}

// BOOTSTRAP OVERWRITING
