.home {
  &__infographics {
    background: url("../../../../assets/images/stacked_waves.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
