@import "../../assets/variables.scss";

.action-bar {
  background-color: $primary-color;
  height: $navigation-height;
  z-index: 98;
  top: 0;
  left: 0;
  border-bottom: 3px solid $accent-color-1;
}

@media screen and (min-width: 992px) {
  .action-bar {
    height: $navigation-height * 2;
    padding-top: $navigation-height;
    background-color: $dark-shade;
  }
}
